<h1>Log In Below:</h1>

<form class="" action="/sessions" method="post">
  <input type="email" name="email" id="email" value="" placeholder="Email Address">
  <input type="password" name="password" id="password" value="" placeholder="Password">

  <input type="submit" name="" value="Log In" id="Log In">
</form>
