<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <ul>
    <li>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
    </li>
    <li>
      <label for="email">Email</label>
      <textarea id="email" type="text" name="email">
      </textarea>
    </li>
    <li>
      <label for="password">Password</label>
      <textarea id="password" type="text" name="password">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>
