<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <p>
    <input type="text" name="name">
  </p>
  <p>
    <input type="text" name="email">
  </p>
  <p>
    <input type="text" name="password">
  </p>
  <input type="submit" value="Sign Up">
</form>

